.textfieldHead {
  font-size: 1rem;
  letter-spacing: 0.03em;
  color: #2b2c34;
  margin-bottom: 0.8rem;
}

.redText {
  color: #e45858;
}

.location-container {
  margin-bottom: 3px !important;
  margin-right: 5px !important;
}

.location-subtitle {
  padding-left: 5px;
}
.css-17pvh7z-MuiAutocomplete-root
  .MuiOutlinedInput-root
  .MuiAutocomplete-input {
  padding: 8.5px 10px 6.5px 6px !important;
}
.mr {
  margin-right: 15px !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline:hover:focus {
  border: none !important;
}
.css-17pvh7z-MuiAutocomplete-root
  .MuiOutlinedInput-root
  .MuiAutocomplete-input {
  position: absolute !important;
  padding-left: none !important;
  height: auto !important;
  width: 120px !important;
  /* border-radius: 3px !important; */
  background-color: #fff;
}
